@import '../main.css';


.sumenh_title {
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.tamnhin_title {
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.sumenh1 {
    height: 20px;
}

.sumenh_content,
.tamnhin_content {
    font-size: 18px;
}

#about {
    margin-top: 90px;
}

.img-fluid {
    height: 100%;
    object-fit: cover;
}

.GTCL_title {
    font-weight: 600;
    color: var(--text-color);

}

.GTCL_noibo {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 20px;
}

.member {
    padding: 20px;
    color: var(--text-color);
}

.noibo_content {
    font-size: 16px;
}

.trietly {
    font-weight: 600;
}

.trietly1 {
    font-weight: 600;
    font-size: 20px !important;
}

.trietly_icon {
    background-image: url(../../../public/assets/img/home/logo_xanh.png);
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
}

.connguoi_title {
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

#testimonials {
    padding-bottom: 0;
}