.navbarr {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar-mobile,
  .navbarr {
    display: none;
  }
  .navbar-mobile {
    display: none;
  }

  .navbar-mobile.show {
    display: block;
  }
}
