.dinhhuong {
    margin-top: 70px;
    height: 50vh;
    background-image: url(../../../public/data/imgs/comingsoon.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}