.footer_icon {
    height: 40px;
    background-image: url(../../../public/Data/Images/logo-xanhArtboard\ 3@4x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 20px;
}