@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Bold.eot');
    src: url('Vollkorn-Bold.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-Bold.woff2') format('woff2'),
        url('Vollkorn-Bold.woff') format('woff'),
        url('Vollkorn-Bold.ttf') format('truetype'),
        url('Vollkorn-Bold.svg#Vollkorn-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Black.eot');
    src: url('Vollkorn-Black.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-Black.woff2') format('woff2'),
        url('Vollkorn-Black.woff') format('woff'),
        url('Vollkorn-Black.ttf') format('truetype'),
        url('Vollkorn-Black.svg#Vollkorn-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-BlackItalic.eot');
    src: url('Vollkorn-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-BlackItalic.woff2') format('woff2'),
        url('Vollkorn-BlackItalic.woff') format('woff'),
        url('Vollkorn-BlackItalic.ttf') format('truetype'),
        url('Vollkorn-BlackItalic.svg#Vollkorn-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-BoldItalic.eot');
    src: url('Vollkorn-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-BoldItalic.woff2') format('woff2'),
        url('Vollkorn-BoldItalic.woff') format('woff'),
        url('Vollkorn-BoldItalic.ttf') format('truetype'),
        url('Vollkorn-BoldItalic.svg#Vollkorn-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Medium.eot');
    src: url('Vollkorn-Medium.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-Medium.woff2') format('woff2'),
        url('Vollkorn-Medium.woff') format('woff'),
        url('Vollkorn-Medium.ttf') format('truetype'),
        url('Vollkorn-Medium.svg#Vollkorn-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-ExtraBoldItalic.eot');
    src: url('Vollkorn-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-ExtraBoldItalic.woff2') format('woff2'),
        url('Vollkorn-ExtraBoldItalic.woff') format('woff'),
        url('Vollkorn-ExtraBoldItalic.ttf') format('truetype'),
        url('Vollkorn-ExtraBoldItalic.svg#Vollkorn-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-MediumItalic.eot');
    src: url('Vollkorn-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-MediumItalic.woff2') format('woff2'),
        url('Vollkorn-MediumItalic.woff') format('woff'),
        url('Vollkorn-MediumItalic.ttf') format('truetype'),
        url('Vollkorn-MediumItalic.svg#Vollkorn-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Italic.eot');
    src: url('Vollkorn-Italic.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-Italic.woff2') format('woff2'),
        url('Vollkorn-Italic.woff') format('woff'),
        url('Vollkorn-Italic.ttf') format('truetype'),
        url('Vollkorn-Italic.svg#Vollkorn-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-ExtraBold.eot');
    src: url('Vollkorn-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-ExtraBold.woff2') format('woff2'),
        url('Vollkorn-ExtraBold.woff') format('woff'),
        url('Vollkorn-ExtraBold.ttf') format('truetype'),
        url('Vollkorn-ExtraBold.svg#Vollkorn-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-Regular.eot');
    src: url('Vollkorn-Regular.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-Regular.woff2') format('woff2'),
        url('Vollkorn-Regular.woff') format('woff'),
        url('Vollkorn-Regular.ttf') format('truetype'),
        url('Vollkorn-Regular.svg#Vollkorn-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-SemiBoldItalic.eot');
    src: url('Vollkorn-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-SemiBoldItalic.woff2') format('woff2'),
        url('Vollkorn-SemiBoldItalic.woff') format('woff'),
        url('Vollkorn-SemiBoldItalic.ttf') format('truetype'),
        url('Vollkorn-SemiBoldItalic.svg#Vollkorn-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-SemiBold.eot');
    src: url('Vollkorn-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Vollkorn-SemiBold.woff2') format('woff2'),
        url('Vollkorn-SemiBold.woff') format('woff'),
        url('Vollkorn-SemiBold.ttf') format('truetype'),
        url('Vollkorn-SemiBold.svg#Vollkorn-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Inter';
    src: url('Inter-Black.eot');
    src: url('Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff'),
        url('Inter-Black.ttf') format('truetype'),
        url('Inter-Black.svg#Inter-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light.eot');
    src: url('Inter-Light.eot?#iefix') format('embedded-opentype'),
        url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff'),
        url('Inter-Light.ttf') format('truetype'),
        url('Inter-Light.svg#Inter-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.eot');
    src: url('Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff'),
        url('Inter-ExtraBold.ttf') format('truetype'),
        url('Inter-ExtraBold.svg#Inter-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLight.eot');
    src: url('Inter-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLight.woff2') format('woff2'),
        url('Inter-ExtraLight.woff') format('woff'),
        url('Inter-ExtraLight.ttf') format('truetype'),
        url('Inter-ExtraLight.svg#Inter-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff'),
        url('Inter-Bold.ttf') format('truetype'),
        url('Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff'),
        url('Inter-Medium.ttf') format('truetype'),
        url('Inter-Medium.svg#Inter-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff'),
        url('Inter-Regular.ttf') format('truetype'),
        url('Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.eot');
    src: url('Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff'),
        url('Inter-SemiBold.ttf') format('truetype'),
        url('Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin.eot');
    src: url('Inter-Thin.eot?#iefix') format('embedded-opentype'),
        url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff'),
        url('Inter-Thin.ttf') format('truetype'),
        url('Inter-Thin.svg#Inter-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.ttf') format('truetype'),
        url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.eot');
    src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff'),
        url('Montserrat-Black.ttf') format('truetype'),
        url('Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff'),
        url('MyriadPro-Regular.ttf') format('truetype'),
        url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Semibold.eot');
    src: url('MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Semibold.woff2') format('woff2'),
        url('MyriadPro-Semibold.woff') format('woff'),
        url('MyriadPro-Semibold.ttf') format('truetype'),
        url('MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.eot');
    src: url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff'),
        url('Montserrat-ExtraBold.ttf') format('truetype'),
        url('Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.ttf') format('truetype'),
        url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Black.eot');
    src: url('Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Black.woff2') format('woff2'),
        url('Poppins-Black.woff') format('woff'),
        url('Poppins-Black.ttf') format('truetype'),
        url('Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.eot');
    src: url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Bold.woff2') format('woff2'),
        url('Poppins-Bold.woff') format('woff'),
        url('Poppins-Bold.ttf') format('truetype'),
        url('Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BoldItalic.eot');
    src: url('Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-BoldItalic.woff2') format('woff2'),
        url('Poppins-BoldItalic.woff') format('woff'),
        url('Poppins-BoldItalic.ttf') format('truetype'),
        url('Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BlackItalic.eot');
    src: url('Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-BlackItalic.woff2') format('woff2'),
        url('Poppins-BlackItalic.woff') format('woff'),
        url('Poppins-BlackItalic.ttf') format('truetype'),
        url('Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.eot');
    src: url('Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraBold.woff2') format('woff2'),
        url('Poppins-ExtraBold.woff') format('woff'),
        url('Poppins-ExtraBold.ttf') format('truetype'),
        url('Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBoldItalic.eot');
    src: url('Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('Poppins-ExtraBoldItalic.woff') format('woff'),
        url('Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLight.eot');
    src: url('Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraLight.woff2') format('woff2'),
        url('Poppins-ExtraLight.woff') format('woff'),
        url('Poppins-ExtraLight.ttf') format('truetype'),
        url('Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLightItalic.eot');
    src: url('Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('Poppins-ExtraLightItalic.woff') format('woff'),
        url('Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Italic.eot');
    src: url('Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Italic.woff2') format('woff2'),
        url('Poppins-Italic.woff') format('woff'),
        url('Poppins-Italic.ttf') format('truetype'),
        url('Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.eot');
    src: url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff'),
        url('Poppins-Medium.ttf') format('truetype'),
        url('Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-LightItalic.eot');
    src: url('Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-LightItalic.woff2') format('woff2'),
        url('Poppins-LightItalic.woff') format('woff'),
        url('Poppins-LightItalic.ttf') format('truetype'),
        url('Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.eot');
    src: url('Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Light.woff2') format('woff2'),
        url('Poppins-Light.woff') format('woff'),
        url('Poppins-Light.ttf') format('truetype'),
        url('Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.eot');
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff'),
        url('Poppins-Regular.ttf') format('truetype'),
        url('Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-MediumItalic.eot');
    src: url('Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-MediumItalic.woff2') format('woff2'),
        url('Poppins-MediumItalic.woff') format('woff'),
        url('Poppins-MediumItalic.ttf') format('truetype'),
        url('Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Thin.eot');
    src: url('Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Thin.woff2') format('woff2'),
        url('Poppins-Thin.woff') format('woff'),
        url('Poppins-Thin.ttf') format('truetype'),
        url('Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBoldItalic.eot');
    src: url('Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('Poppins-SemiBoldItalic.woff') format('woff'),
        url('Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.eot');
    src: url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-SemiBold.woff2') format('woff2'),
        url('Poppins-SemiBold.woff') format('woff'),
        url('Poppins-SemiBold.ttf') format('truetype'),
        url('Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ThinItalic.eot');
    src: url('Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ThinItalic.woff2') format('woff2'),
        url('Poppins-ThinItalic.woff') format('woff'),
        url('Poppins-ThinItalic.ttf') format('truetype'),
        url('Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

